.admin {

  h1,
  h2,
  p {
    color: white;
  }
}

#user-answers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

#user-answers>div {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}