.cursor {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 20,10 0,20" fill="white"/></svg>') no-repeat center;
  background-size: contain;
  animation: moveToButton 3s ease-in-out forwards;
  z-index: 2;
}


@keyframes moveToButton {
  0% {
    top: 10px;
    left: 10px;
  }

  100% {
    top: 90px;
    left: 170px;
  }
}