@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Pixeloid";
  src: url("../fonts/pixeloid_sans_bold.woff2") format('woff2'),
    url('../fonts/pixeloid_sans_bold.woff') format('woff');
  font-display: swap;
}