html {
	overflow: auto;
	scroll-behavior: smooth;
	background-color: #051C1C;
}

body {
	font-family: "Roboto", Arial, sans-serif;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	margin: 0 auto;

	>* {
		min-width: 0;
	}
}


.container {
	max-width: 1360px;
	margin: 0 auto;
}

.img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.nowrap {
	white-space: nowrap;
}

.underline {
	text-decoration: underline !important;
}

.hidden {
	display: none !important;
}

.main-header {
	font-family: "Pixeloid", serif;
	font-size: 3.5vmin;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.3;
}

.btn {
	cursor: pointer;
	font-family: "Pixeloid", serif;
	font-size: 3vmin;
	line-height: 1;
	text-align: center;
	width: 40vmin;
	height: 8vmin;
	color: white;
	outline: none;
	text-transform: uppercase;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;

}

.green-btn {
	// background-color: #0AD0A1;
	background-image: url("data:image/svg+xml,%3Csvg width='392' height='81' viewBox='0 0 392 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M391.981 80.844L385.168 73.9978L385.338 6.50095L391.981 0.845215V80.844Z' fill='%23009874'/%3E%3Cpath d='M385.56 73.9991L391.946 80.8452H0L9.66948 72.8256L385.56 73.9991Z' fill='%23009874'/%3E%3Cpath d='M0 0.845215L6.82272 7.68135L7.57028 75.1088L0 80.844V0.845215Z' fill='%232FF1C3'/%3E%3Cpath d='M6.65384 7.68135L0 0.845215H392L383.395 8.43941L6.65384 7.68135Z' fill='%232FF1C3'/%3E%3Cpath d='M386.993 5.37146H5.83618V76.3061H386.993V5.37146Z' fill='%2306D0A0'/%3E%3C/svg%3E%0A");

	&:hover,
	&:focus,
	&:active {
		// background-color: #2FF1C3;
		background-image: url("data:image/svg+xml,%3Csvg width='393' height='81' viewBox='0 0 393 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M392.481 80.844L385.668 73.9978L385.838 6.50095L392.481 0.845215V80.844Z' fill='%23009874'/%3E%3Cpath d='M386.06 73.9991L392.446 80.8452H0.5L10.1695 72.8256L386.06 73.9991Z' fill='%23009874'/%3E%3Cpath d='M0.5 0.845215L7.32272 7.68135L8.07028 75.1088L0.5 80.844V0.845215Z' fill='%232FF1C3'/%3E%3Cpath d='M7.15384 7.68135L0.5 0.845215H392.5L383.895 8.43941L7.15384 7.68135Z' fill='%233AFECF'/%3E%3Cpath d='M387.493 5.37146H6.33618V76.3061H387.493V5.37146Z' fill='%230DDEAC'/%3E%3C/svg%3E%0A");
	}
}

.purple-btn {
	width: 46vmin;

	background-image: url("data:image/svg+xml,%3Csvg width='448' height='81' viewBox='0 0 448 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2350_2126)'%3E%3Cpath d='M447.981 80.36L441.167 73.5138L441.337 6.01694L447.981 0.361206V80.36Z' fill='%235D23CE'/%3E%3Cpath d='M441.559 73.5151L447.946 80.3613H0L9.67077 72.3417L441.559 73.5151Z' fill='%235D23CE'/%3E%3Cpath d='M0 0.361206L6.82363 7.19735L7.57129 74.6248L0 80.36V0.361206Z' fill='%23A274FF'/%3E%3Cpath d='M6.65473 7.19734L0 0.361206H448L439.393 7.9554L6.65473 7.19734Z' fill='%23A274FF'/%3E%3Cpath d='M442.325 4.88757H5.83691V75.8222H442.325V4.88757Z' fill='%238353E3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2350_2126'%3E%3Crect width='448' height='81' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

	&:hover,
	&:focus,
	&:active {
		background-image: url("data:image/svg+xml,%3Csvg width='448' height='81' viewBox='0 0 448 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2350_2136)'%3E%3Cpath d='M447.981 80.844L441.167 73.9978L441.337 6.50095L447.981 0.845215V80.844Z' fill='%235D23CE'/%3E%3Cpath d='M441.559 73.9991L447.946 80.8453H0L9.67077 72.8257L441.559 73.9991Z' fill='%235D23CE'/%3E%3Cpath d='M0 0.845215L6.82363 7.68135L7.57129 75.1088L0 80.844V0.845215Z' fill='%23A274FF'/%3E%3Cpath d='M6.65473 7.68135L0 0.845215H448L439.393 8.43941L6.65473 7.68135Z' fill='%23B692FF'/%3E%3Cpath d='M442.325 5.37158H5.83691V76.3062H442.325V5.37158Z' fill='%239161F2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2350_2136'%3E%3Crect width='448' height='81' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}
}

.hide {
	display: none !important;
}